/* mobile/style.css */

/* --- Colour palette (same as desktop) --- */
:root {
  /* Primitives */
  --green:            #A2C5AC;
  --blue_light:       #9DB5B2;
  --blue_dark:        #878E99;
  --purple:           #7F6A93;
  --grey:             #D3D5D4;
  --dark_grey:        #4d4d4d;

  /* Tokens */
  --colorOne:   var(--green);
  --colorTwo:   var(--blue_light);
  --colorThree: var(--blue_dark);
  --colorFour:  var(--purple);
  --bg:         var(--grey);
  --white_space: rgba(255,255,255,.8);

  /* Typography */
  --font:   'Inter', sans-serif;

  --border-radius: 20px
}

/* --- Global reset & body --- */
* { box-sizing: border-box; margin: 0; padding: 0; }
body {
  font-family: var(--font);
  font-size: var(--body);
  line-height: 1.6;
  background: var(--bg);
  color: var(--dark_grey);
  padding: .75rem;
}

/* --- Utility classes --- */
.section {
    position: relative;
    width: 100%;
}
/* Component "Box" Styling */
.box {
  border-radius: var(--border-radius);
  padding: .75rem;
  gap: 20px; 
}
/* --- Color Classes --- */
/* Color Groups. Apply background color directly to elements  */
.colorOne {
  background-color: var(--colorOne);
}
.colorTwo {
  background-color: var(--colorTwo);
}
.colorThree {
  background-color: var(--colorThree);
}
.colorFour {
  background-color: var(--colorFour);
}

/* --- Links --- */
a { color: #0066cc; text-decoration: none; }
a:hover { text-decoration: underline; }

/* --- Images --- */
img { 
  max-width: 100%; 
  height: auto; 
  border-radius: var(--border-radius); 
}

/* -- Class Specific -- */
#title-box {
  display: grid;
  flex-direction: column;
}